			* {
				margin: 0;
				padding: 0;
			}

			body {
				font-family: Trebuchet MS, sans-serif;
				background-color: #E6E6E6;
				font-size: 16px;
			}

			
			h1 {
				color: gray;
				text-align: center;
				padding: 20px 10px 10px 10px;
				font-size: 42px;
			}

			h2 {
				color: #FFBF00;
				font-weight: bold;
				margin: 0px;
			}

			img {
				margin-bottom: 5px;
				width: 620px;
			}

			
			#topo {
				padding: 15px;
				text-align: center;
				background-color: #FFBF00;
			}

			#menu {
				padding: 10px;	
			}

			#menu a {
				padding: 10px;
				text-decoration: none;
			}
			
		
			/*Links nao visitados*/
			#manu a:link, #menu a:visited {
				color: white;
			}

			/*Quando passa o cursor sobre o link*/
			#menu a:hover {
				color: #FFBF00;
				background-color: white;
			}

			/*Quando clica e segura*/
			#menu a:active {
				color: white;
				background-color: red;
			}

			.area_postagens {
				float: left;
			}

			#container {
				width: 920px;
				margin: 0px auto;
				padding: 15px;
			}

			#conteudo {
				background-color: white;
				width: 620px;
				padding: 20px;
				margin-right: 20px;
				margin-bottom: 20px;
			}

			#conteudo a {
							text-decoration: none;	
						}

						#conteudo a:link, #conteudo a:visited {
							color: #f7b600;
						}

						#conteudo a:hover {
							text-decoration: underline;
						}



			#conteudo_lateral {
				padding: 5px;
				border-bottom: 1px dotted #CCC;
			}

			#conteudo_lateral a {
							text-decoration: none;	
						}

						#conteudo_lateral a:link, #conteudo_lateral a:visited {
							color: #f7b600;
						}

						#conteudo_lateral a:hover {
							text-decoration: underline;
						}

			#titulo_cinza {
				width: 210px;
				height: 20px;
				background-color:#E6E6E6;
				margin-top: 0px;
				margin-bottom: 5px;
				color: #848484;
				font-weight: bold;
				font-size: 18px;
				padding: 5px;
			}

			#links {
				color: orange;
				text-decoration: none;

			}

			#rodape {
				background-color: gray;
				font-size: 16px;
				text-align: center;
				clear: both;
				padding: 10px;
			}

			.lateral {
				background-color: white;
				width: 220px;
				padding: 10px 10px 10px 10px;
				float: left;
				margin-bottom: 20px;
				font-family: Trebuchet MS, sans-serif;
				font-size: 14px;
			}
			.lateral a{
				text-decoration: none;
			}

			.lateral a:link, .lateral a:visited {
							color: #f7b600;
						}

			.lateral a:hover {
							text-decoration: underline;
						}

			.subtitulo {
				font-size: 12px;
				margin: 2px 10px 20px 0px;
			}

			.branco {
				color: white;
			}



			