* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: Trebuchet MS, sans-serif;
	font-size: 16px;
	background-color: #D8D8D8;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #FF4000;
}

a:hover {
	color: #B40404;
}

/*--------inicio da area do topo-----------------*/

#cabecalho {
	background-color: #FF8000;
	height: 147px;
}

#logo {
	text-align: center;
	padding: 30px 20px 20px 20px;
}

h1 {
	color: #424242;
	font-size: 3em;
}

#branco {
	color: white;
}

#menu {
	font-size: 1.1em;
	text-align: center;
}

#menu a {
	text-decoration: none;
	padding: 10px;
}

#menu a:link, #menu a:visited {
	color: white;
}

#menu a:hover {
	background-color: white;
	color: #FF4000;
}

/*-----fim da area do topo---------------------*/

#principal {
	width: 920px;
	margin: 20px auto;
}

#area_postagem {
	width: 660px;
	float: left;
}

.post {
	background-color: white;
	padding: 15px;
	margin-bottom: 20px;
}

h2 {
	color: #FF4000;
}

#subtitulo {
	font-size: 0.8em;
	margin-bottom: 20px;
}


/********inicio da area lateral**********/

#area_lateral {
	width: 240px;
	float: right;
}

.bloco_lateral {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

h3 {
	padding: 10px;
	background-color: #BDBDBD;
	color: #424242;
}

.publi_recentes {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted gray;
}

/*************fim da area lateral************/

#rodape {
	background-color: gray;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	clear: both;
}
